container_commands:
 01_migrate:
  command: "python manage.py migrate"
 02_collectstatic:
  command: "python manage.py collectstatic --noinput"
 03_chmod_sqlite:
  command: "chmod 666 db.sqlite3"
 04_createsu:
  command: "python manage.py createsu"
  leader_only: true

option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: mysite/wsgi.py
